<body class="fd lx uc lr lt">
  <div class="ip oo ss o_">
    <header class="tj su ns">
      <div class="sm nd au hk">
        <div class="ip ol od iy">
          <div class="sq rl"><a class="ic" href="index.html" aria-label="Cruip"><svg class="sl ij ae text-purple-600"
                viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M31.952 14.751a260.51 260.51 0 00-4.359-4.407C23.932 6.734 20.16 3.182 16.171 0c1.634.017 3.21.28 4.692.751 3.487 3.114 6.846 6.398 10.163 9.737.493 1.346.811 2.776.926 4.262zm-1.388 7.883c-2.496-2.597-5.051-5.12-7.737-7.471-3.706-3.246-10.693-9.81-15.736-7.418-4.552 2.158-4.717 10.543-4.96 16.238A15.926 15.926 0 010 16C0 9.799 3.528 4.421 8.686 1.766c1.82.593 3.593 1.675 5.038 2.587 6.569 4.14 12.29 9.71 17.792 15.57-.237.94-.557 1.846-.952 2.711zm-4.505 5.81a56.161 56.161 0 00-1.007-.823c-2.574-2.054-6.087-4.805-9.394-4.044-3.022.695-4.264 4.267-4.97 7.52a15.945 15.945 0 01-3.665-1.85c.366-3.242.89-6.675 2.405-9.364 2.315-4.107 6.287-3.072 9.613-1.132 3.36 1.96 6.417 4.572 9.313 7.417a16.097 16.097 0 01-2.295 2.275z">
                </path>
              </svg></a></div>
          <nav class="im pv de">
            <ul class="ip sz oh ou ol">
              <li><a class="ls cx au al ip ol lz cr cf" href="features.html">Features</a></li>
              <li><a class="ls cx au al ip ol lz cr cf" href="pricing.html">Pricing</a></li>
              <li><a class="ls cx au al ip ol lz cr cf" href="blog.html">Blog</a></li>
              <li><a class="ls cx au al ip ol lz cr cf" href="about.html">About us</a></li>
              <li class="tq" x-data="{ open: false }" @mouseenter="open = true" @mouseleave="open = false"><a
                  class="ls cx au al ip ol lz cr cf" href="#0" aria-haspopup="true" :aria-expanded="open"
                  @focus="open = true" @focusout="open = false" @click.prevent="">Support <svg
                    class="sa ib ae lf ot r_ sq" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.28 4.305L5.989 8.598 1.695 4.305A1 1 0 00.28 5.72l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z">
                    </path>
                  </svg></a>
                <ul class="oe tj nn nt sh ud al ry oq" x-show="open" x-transition:enter="lz cl cs p"
                  x-transition:enter-start="l_ n" x-transition:enter-end="lq v" x-transition:leave="lz cl cs"
                  x-transition:leave-start="lq" x-transition:leave-end="l_" x-cloak="">
                  <li><a class="fk fy li ck ip al au le" href="contact.html" @focus="open = true"
                      @focusout="open = false">Contact us</a></li>
                  <li><a class="fk fy li ck ip al au le" href="help.html" @focus="open = true"
                      @focusout="open = false">Help center</a></li>
                  <li><a class="fk fy li ck ip al au le" href="404.html" @focus="open = true"
                      @focusout="open = false">404</a></li>
                </ul>
              </li>
            </ul>
            <ul class="ip sz oh ou ol">
              <li><a class="fk text-purple-600 cx au av ip ol lz cr cf" href="signin.html">Sign in</a></li>
              <li><a class="tn la uh ch rp" href="signup.html">Sign up</a></li>
            </ul>
          </nav>
          <div class="pg" x-data="{ expanded: false }"><button class="tm" :class="{ 'active': expanded }"
              @click.stop="expanded = !expanded" aria-controls="mobile-nav" :aria-expanded="expanded"><span
                class="tx">Menu</span> <svg class="sp ix ae ls cx lz cr cf" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <rect y="4" width="24" height="2" rx="1"></rect>
                <rect y="11" width="24" height="2" rx="1"></rect>
                <rect y="18" width="24" height="2" rx="1"></rect>
              </svg></button>
            <nav id="mobile-nav" class="tj nn no nr su au hk o_ ct co cf" x-ref="mobileNav"
              :style="expanded ? 'max-height: ' + $refs.mobileNav.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: .8'"
              @click.outside="expanded = false" @keydown.escape.window="expanded = false" x-cloak="">
              <ul class="ud au al">
                <li><a class="ip ls cx al" href="features.html">Features</a></li>
                <li><a class="ip ls cx al" href="pricing.html">Pricing</a></li>
                <li><a class="ip ls cx al" href="blog.html">Blog</a></li>
                <li><a class="ip ls cx al" href="about.html">About us</a></li>
                <li class="al nq te _ ui"><span class="ip ls al">Support</span>
                  <ul class="fr">
                    <li><a class="fy ip fk li cx al" href="contact.html">Contact us</a></li>
                    <li><a class="fy ip fk li cx al" href="help.html">Help center</a></li>
                    <li><a class="fy ip fk li cx al" href="404.html">404</a></li>
                  </ul>
                </li>
                <li><a class="ip fk su text-purple-600 cx al op" href="signin.html">Sign in</a></li>
                <li><a class="fk su id ol op x uo au al nq oq la uh ch lz cr cf" href="signup.html">Sign up</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="sz">
      <div class="tq sm nd ig tk" aria-hidden="true"><svg class="tj ne nt p d ie" width="722" height="320" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="illustration-01" x1="-4.14" y1="43.12" x2="303.145" y2="391.913"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#5D5DFF" stop-opacity=".01"></stop>
              <stop offset=".538" stop-color="#5D5DFF" stop-opacity=".32"></stop>
              <stop offset="1" stop-color="#5D5DFF" stop-opacity=".01"></stop>
            </linearGradient>
          </defs>