<!-- <div class="container mx-auto p-10 bg-blue-200 h-screen">


    <div class="bg-gray-200 p-10 table self-auto">
        <p class="text-3xl font-semibold space--1doc5">
            Faça login e sua conta
        </p>

        <br />

        <-- After extracting a custom class --
        <button class="en-btn-primary">
            Save changes
        </button>
    </div>

    <div class="flex flex-row">
        <div class="basis-1/4">01</div>
        <div class="basis-1/4">02</div>
        <div class="basis-1/2">03</div>
      </div>

</div> -->

<!-- <div class="container mx-auto bg-gray-200 h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 items-center">
        <div class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">1</div>
        <div class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 bg-white self-auto">2</div>
        <div class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">3</div>
    </div>
</div> -->

<div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 h-screen bg-gray-200 _items-center">
    <div class=" _sm:col-start-1 _md:col-start-2 mx-auto bg-green-200">
        01
    </div>
    <!-- <div class="bg-green-100">02</div>
    <div class="bg-blue-100">03</div> -->
</div>

<!-- <button class="en-btn-primary">
    Botão
</button>

<div id="app"></div> -->